*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: #db000000;
    color: #fff;
    padding: 7px 20px;
    font-size: 20px;
    border-radius: 4px;
    margin-left: 10px;

}

.home{
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: 0.5rem;
}
.home-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 0.5rem;
}
.home-text{
    padding-left: 40px;
}
.home-title{
    font-size: 2rem;
    font-weight: 600;
}

.home-text p{
    font-size: 0.938rem;
    margin: 10px 0 20 px ;
    color: var(--main-color);
}
.watch-btn{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
}

.watch-btn .bx{
    font-size: 21px;
    background: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-btn .bx:hover{
    background: var(--hover-color);
}

.watch-btn span{
    font-size: 1rem;
    font-weight: 400 ;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--container-color);
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;
}
.heading-title{
    font-size: 1.2rem;
    font-weight: 500 ;
}

.play-container{
    position: relative;
    min-height: 540px;
    margin-top: 5rem !important;
}
.play-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.play-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    background: linear-gradient(8deg, hsl(240 17% 14% / 74%) 14%, hsl(240 17% 14% / 14%) 44%);

}

.play-text h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.rating{
    display: flex;
    align-items: center;
    column-gap: 2px ;
    font-size: 1.1r 2px;
    color: var(--main-color);
    margin-top: 4px;
}

.tags{
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 1rem 0;
}

.tags span{
    background: var(--container-color);
    padding: 0 4px;
}


.video-container{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: hsl(234 10% 20% / 60%);
    z-index: 400;
}
.video-container.show-video{
    display: flex;
}
.video-box{
    position: relative;
    width: 82%;
}
.video-box #myvideo{
    width: 100%;
    aspect-ratio: 16/9;
}
.close-video{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}
.about-movie{
    margin-top: 2rem;
}

.about-movie h2{
     font-size: 1.4rem;
     font-weight: 600;
     color: var(--main-color);
}

.about-movie p{
    max-width: 600px;
    font-size: 0.938rem;
    margin: 10px 0;
}
.cast-heading{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--main-color);
}
.cast{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,150px));
    gap: 1rem;
}
.cast-img{
    width: 150px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}
